*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

.nav-bar {
    height: 4rem;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
}

.item {
    max-width: 600px;
    height: 220px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    gap: 1rem;
    background-color: rgb(60, 62, 68);
}

.img-container img {
    height: 100%;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;

}

.content-container div {
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 1.6rem;
    font-weight: bolder;
}

.location {
    font-size: 1rem;
    font-weight: 400;
}

.seen {
    font-size: 1rem;
    font-weight: 400;
}

.status {
    font-size: .9rem;
    font-weight: 550;
}

.static {
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.444);
    font-weight: 550;
}